/* ResizeHandle.module.css */
.handle {
	background-color: var(--separator-border);
	transition: background-color 0.2s ease-in-out;
	flex-shrink: 0;
}

.handle[data-separator="active"],
.handle[data-separator="hover"] {
	background-color: var(--focus-border);
}

.vertical {
	width: 1px;
	cursor: col-resize;
}

.horizontal {
	height: 1px;
	cursor: row-resize;
}
